body {
    background-color: gray;
    transition: .5s;
}

    footer {
    background-color: rgb(21, 21, 114);

}

header {
    background-color: rgb(21, 21, 114);
    text-align: center;
    padding: 10px;
}

.coach {
    background-color: rgb(7, 236, 7);
    color: rgb(21,21,114);
}


.style {
    text-align: center;
    font-size: larger;
    font-style: normal;
    color: rgb(7, 236, 7);
   
}

#head {
    grid-area: head;
    #head {
    position: sticky;
    top: 0;
    z-index: 1000;   
    background: white; 
}

}

#pg {
    text-align: center;
}

#nav {
    grid-area: nav;
}

.navi {
    text-align: center;
}

#intro {
    grid-area: intro;
    background-color: rgb(21,21,114);
    color: rgb(7, 236,7);
}

#Holmgren {
    grid-area: hol;
}

#Pete {
    grid-area: pete;
    background-color: rgb(21, 21, 114);
    color: rgb(7, 236, 7);
}

#MacDonald {
    grid-area: mac;
}

#mikeh {
    grid-area: mh;
   width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;
}

#carroll {
    grid-area: ca;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;

}

#mikem {
    grid-area: mm;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;

}

#lumen {
    grid-area: lumen;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;
    gap: 10px;
}

#foot {
    grid-area: foot;
}

#thirt {
    grid-area: thi;
    text-align: center;
}

.stats {
    text-align: center;
}

#gridContainer {
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: .5fr .5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "lumen intro intro intro"
    "mh hol hol hol"
    "pete pete but ca"
    "mm mac mac mac"
    "foot foot foot foot"
    ;
}

#russ {
    grid-area: russ;

}

#bby {
    grid-area: bby;
}

#beast {
    grid-area: beast;
}

#bam {
grid-area: bam;
}

#doug {
    grid-area: doug;
}

#sherm {
    grid-area: sherm;
}

#stats2013 {
    grid-area: stats;
}

#team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "russ bby beast stats"
    "bam doug sherm stats"
    ;
}


.player {
    background: #20ee04;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}


.player img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display:block;
    margin: 0 auto 10px;
}


#matt {
    grid-area: matt;
}

#lofa {
    grid-area: lofa;
}

#alx {
    grid-area: fish;
}

#engram {
    grid-area: eng;
}

#bab {
    grid-area: bab;
}

#stats2005 {
    grid-area: ofive;
}

#gridfirsts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "matt lofa alx ofive"
    "fish eng bab ofive";
}

#sam {
    grid-area: sam;
}

#sampic {
    grid-area: sapic;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;
    gap: 10px;
}

#samstat {
    grid-area: sstat;
}


#jones {
    grid-area: jon;
}

#jonespic {
    grid-area: jpic;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;
    gap: 10px;
    
}

.no {
    position: relative;
    left: 150px;
}

#jonesstat {
    grid-area: jstat;
}


#jsn {
    grid-area: jsn;
}

#jsnpic {
    grid-area: jsnpic;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;
    gap: 10px;
}

#jsnstat {
    grid-area: jsnstat;
}


#riq {
    grid-area: riq;
}

#riqpic {
    grid-area: riqpic;
    text-align: center;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;
    gap: 10px;
}

#riqstat {
    grid-area: riqstat;
}

#sha {
    grid-area: sha;
}

#shapic {
    grid-area: shapic;
    width: 250px;      
    height: 250px;     
    object-fit: cover; 
    display: block;    
    margin: 0 auto;
    gap: 10px;
}

#shastat {
    grid-area: shastat;
}

.tx {
color: #20ee04;
text-decoration: solid;
font-size: 32px;
}


#ima {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    grid-template-areas:
    "sam sapic sstat"
    "jon jpic jstat"
    "jsn jsnpic jsnstat"
    "riq riqpic riqstat"
    "sha shapic shastat"
}


@media screen and (600px > width) {
    #ima {
        grid-template-columns: 1fr 1fr;
        grid-column: auto;
        grid-template-areas:
        "sam sapic"
        "sstat sapic"
        "jon jpic"
        "jstat jpic"
        "jsn jsnpic"
        "jsnstat jsnpic"
        "riq riqpic"
        "riqstat riqpic"
        "sha shapic"
        "shastat shapic"
    }
}

@media screen and (800px > width) {
    #gridfirsts
    {
        background-color: blue;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: auto;
    grid-template-areas:
    "matt lofa"
    "alx bab "
    "fish eng"
    "ofive ofive"
    }

}

@media screen and (700px > width) {
    #team-grid {
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "russ stats bby"
    "beast stats sherm"
    "doug stats bam"
    
    ;
}
}


@media screen and (850px > width) {
#gridContainer {
    display:grid;
    width: 100%;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav"
    "lumen lumen intro"
    "mh mh hol"
    "pete ca but"
    "mm mac mac"
    "foot foot foot"
    ;
}
}